@import '../../../styles/variables';

.team {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-auxiliar-1, 1),
      rgba($color-auxiliar-1, 0.7)
    ),
    url('/img/bg-paisagem-5.jpg');
  background-position: right top;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 90px;
  position: relative;

  @media (min-width: 1900px) {
    background-size: 100%;
  }

  &__grid {
    margin-top: 4rem;
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: 1fr;

    @media (min-width: 600px) {
      grid-row-gap: 60px;
      grid-column-gap: 5%;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1200px) {
      grid-gap: 5%;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__employee {
    text-align: center;
    position: relative;

    @media (min-width: 600px) {
      &:nth-of-type(2) {
        margin-top: 40%;
      }

      &:nth-of-type(3) {
        margin-top: -120px;
      }
    }

    @media (min-width: 900px) {
      &:nth-of-type(3n + 3) {
        margin-top: -150px;
      }
    }

    @media (min-width: 1200px) {
      &:nth-of-type(3n + 2) {
        margin-top: 45px;
      }
      &:nth-of-type(3n + 3) {
        margin-top: -15px;
      }
    }
  }
}

.employee {
  &__name {
    font-size: 2rem;
    margin: 0;
  }

  &__function {
    font-size: 1.8rem;
    margin: 0;

    a {
      font-weight: bold;
    }
  }

  &__picture {
    margin-bottom: 1rem;
  }
}

@media (min-width: 600px) {
  .divisor {
    display: flex;

    &__right {
      order: 2;
      width: 42%;
      @media (max-width: 1199px) {
        margin-top: 5rem;
      }

      & > p {
        font-weight: bold;

        @media (min-width: 600px) {
          text-align: end;
        }
      }
    }

    &__left {
      width: 55%;
      margin-right: 3%;
    }
  }
}

@media (min-width: 1200px) {
  .divisor {
    margin-top: 4rem;
  }
}
