@import '../../../styles/variables';
@import '../../../styles/abstracts';

.button {
  @extend %btn-styles;

  padding: 0.6em 1.5em;
  border: 0;
  cursor: pointer;
  transition: transform 0.2s linear;

  @include noFlickr;
}

.button:hover {
  -webkit-transform: scaleX(1.025) translate3d( 0, 0, 0) perspective(1px);
     -moz-transform: scaleX(1.025) translate3d( 0, 0, 0) perspective(1px);
       -o-transform: scaleX(1.025) translate3d( 0, 0, 0) perspective(1px);
      -ms-transform: scaleX(1.025) translate3d( 0, 0, 0) perspective(1px);
          transform: scaleX(1.025) translate3d( 0, 0, 0) perspective(1px);
}

.buttonCta {
  border-radius: 10px;
}

.buttonBlock {
  transform: translateX(-0.6rem);
  font-size: 1.6rem;
}