@import '../../styles/variables';

.button:link,
.button:visited {
  padding: 0.4em 1.5em;
  font-size: 1.8rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 700;
  border-radius: 25px;
  display: inline-block;
  transition: all 0.4s;
  background-color: $color-yellow;
  color: $color-primary;
}

.button:hover,
.button:focus {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.buttonCta:link,
.buttonCta:visited {
  border-radius: 10px;
}

.buttonBlock:link,
.buttonBlock:visited {
  transform: translateX(-0.6rem);
  font-size: 1.6rem;
}
