@mixin menuLinkEffect($height) {
  position: relative;
  &::after {
    content: '';
    height: $height;
    width: 100%;
    background-color: $color-secondary;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: transform 0.4s;
    transform: scale(0);
  }

  &:hover::after,
  &:focus::after {
    transform: scale(0.6, 1);
  }
}

@mixin imgFit {
  width: 100%;
  height: 100%;
  max-height: inherit;
  object-fit: cover;
}

%btn-styles {
  font-family: inherit;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border-radius: 25px;
  background-color: $color-auxiliar-2;
  color: $color-primary;
}

@mixin btnHover {
  -webkit-transform: scaleX(1.04) translate3d(0, 0, 0) perspective(1px);
  -moz-transform: scaleX(1.04) translate3d(0, 0, 0) perspective(1px);
  -o-transform: scaleX(1.04) translate3d(0, 0, 0) perspective(1px);
  -ms-transform: scaleX(1.04) translate3d(0, 0, 0) perspective(1px);
  transform: scaleX(1.04) translate3d(0, 0, 0) perspective(1px);
}

@mixin noFlickr {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  will-change: transform;
  -webkit-font-smoothing: antialised;
}
