$color-primary: #0c2940;
$color-secondary: #8ed2c5;

$color-white: #fff;
$color-black: #000;
$color-gray-light: #d3d3d3cc;

$color-green: #b4e0ad;
$color-pink: #f64f96;
$color-yellow: #ffff19;

$color-whatsapp: #25d366;
$color-whatsapp-dark: #258d48;

$color-email: #8dd0f5;