$color-primary: #d88ca0;
$color-secondary: #2b3170;
$color-primary-light: #e9bcc6;
$color-secondary-light: #8398ce;

$color-auxiliar-1: #acb9de;
$color-auxiliar-2: #f0dae2;
$color-auxiliar-3: #d56976;

$color-white: #fff;
$color-black: #000;
$color-gray-light: #d3d3d3cc;

$color-whatsapp: #25d366;
$color-whatsapp-dark: #258d48;

$color-email: #8dd0f5;
