.expert {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.9)
    ),
    url('/img/bg-paisagem-3.jpg');
  background-size: cover;
  background-position: center;

  &__img {
    text-align: center;
    & > div {
      border-radius: 50%;
      margin: 0 auto 4rem auto !important;
      max-width: 200px !important;

      @media (min-width: 600px) {
        margin-bottom: 4rem !important;
      }
    }
  }

  &__text {
    padding: 0 3rem;
    margin-top: 2rem;

    @media (min-width: 600px) {
      margin-top: 4rem;
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  font-weight: 700;

  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 6rem;
  }

  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.2;

    @media (max-width: 600px) {
      &:not(:last-child) {
        margin-bottom: 5rem;
      }
    }

    span {
      font-size: 4rem;
      margin-bottom: 1.2rem;
    }
  }
}
