@import '../../../styles/variables';
@import '../../../styles/abstracts';

.button:link,
.button:visited {
  @extend %btn-styles;

  background-color: $color-secondary;
  color: $color-white;

  padding: 0.4em 1.5em;
  text-decoration: none;
  transition: all 0.4s;
}

.button:hover,
.button:focus {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.buttonCta:link,
.buttonCta:visited {
  border-radius: 10px;
}

.buttonBlock:link,
.buttonBlock:visited {
  transform: translateX(-0.6rem);
  font-size: 1.6rem;
}
