@import '../../../styles/variables';

.infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.price {
  max-width: 94px;
  width: 94px;
  // TODO test if gap
  // margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  & > * {
    margin: 0;
  }

  h5 {
    font-weight: 400;
    span {
      color: $color-white;
      background-color: $color-pink;
      padding: 0.2rem;
    }
  }

  &Tag {
    font-size: 4.5rem;
    font-weight: 900;
    margin: -1.5rem 0;
    span {
      font-size: 1.6rem;
    }
  }
}